html {
  height: 100%;
  width: 100%;
}
.conten1 img{
height: 100px;
}
.conten1{
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  font-size: 50px;
  margin: 30px;
}
.pastel img{
  height: 400px;
}
.pastel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.conten2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.conten2 p{
  font-size: 50px;
  margin: 30px;
}
body{
  background-color: #eeaef5;
}
